{% extends 'base.html' %}

{% block content %}
		<div id="main">
			<div id="content" class="left">
				
				<div class="projects">
					<h3 style="text-align: center; font-size:300%;">You_News</h3>
					<p style="text-align: center;"><img src= "https://www.vladtime.ru/uploads/posts/2018-05/1527186902_df958bc1d296d0bce3981c9798d6c689.jpg"alt="изображение" width="300px" height="200px"/></p>
					<div class="item">
						
							<br>
							<br>
							<form action="#" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<p><label>Название статьи</label></p>
								<p><input type="text" name="title" style ="border-radius: 15px; padding: 5px; height: 50px; width: 250px;"></p>
								<p><label>Изображение</label></p>
								<p><input type="file" name="image" style ="border-radius: 15px; padding: 5px; height: 50px; width: 250px;"></p>
								<p><label>Новость</label></p>
								<p><textarea name="content"style="border-radius: 15px; padding: 5px; height: 200px; width: 200px;"></textarea></p>
								<br>
								<p><input type="submit" value="Добавить" style ="border-radius: 15px; padding: 5px; height: 50px; width: 250px;"></p>
							</form>
						
						<div class="text left">
						</div>
						<div class="cl">&nbsp;</div>
						<br>
					</div>
				</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
{% endblock %}