{% load static %}
<html>
<head>
	<title>Мой блог</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all" />

</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="{% url 'user' %}" class="active">Moй аккаунт</a></li>
			    
				<li><a href="#">Связь с разработчиками</a></li>
			    
			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">
				
				<div class="projects">
					<h3 style="text-align: center; font-size:300%;">Настройки аккауна</h3>
					<p style="text-align: center;"><img src= "https://www.vladtime.ru/uploads/posts/2018-05/1527186902_df958bc1d296d0bce3981c9798d6c689.jpg"alt="изображение" width="300px" height="200px"/></p>
					<div class="item">
						<div class="image left">
							
						</div>
						<div class="text left">
                            <p><label>Изменить emali</label>
                            <form name="change_mail", action="{% url 'change_mail' %}" method="post">
                                {% csrf_token %}
                                            <p><label>новый email</label></p>
                                                <p><input type="email" name="new_mail"style="border-radius: 15px; padding: 15px; height: 50px; width: 250px;"></p>
                                                <br>
                                                    <p><input type="submit" value="Применить"style="border-radius: 15px; padding: 15px; height: 50px; width: 250px;"></p>

                            </form>
                            <br>
                            <p><label>Изменить пароль</label></p>
                            <form name = 'change_passowrd' action="{% url 'change_password' %}" method="post">
                                {% csrf_token %}
                                <p><label>старый пароль</label></p>
                                <p><input type="password" name="old_password"style="border-radius: 15px; padding: 15px; height: 50px; width: 250px;"></p>
                           
                                <p><label>новый пароль</label></p>
                                <p><input type="password" name="new_password"style="border-radius: 15px; padding: 15px; height: 50px; width: 250px;"></p>
								<p><label>новый пароль eще раз</label></p>
                                <p><input type="password" name="new_password_two"style="border-radius: 15px; padding: 15px; height: 50px; width: 250px;"></p>
                                <br> 
                                <p><input type="submit" value="Применить"style="border-radius: 15px; padding: 15px; height: 50px; width: 250px;"></p>
								
							
							
							
						</div>
						<div class="cl">&nbsp;</div>
						<br>
						