{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class =col12>
            <br>
                <h2 style="text-align: center;">Запрос отклонен</h2>
                <br>
                <p style="text-align: center;">Проверьте корректность введенных вами данных</p>
                <br>
            <p style="text-align: center;"><img src="{% static 'img\fon.jpg' %}" class="img-fluid" alt="Фон"></p>
      </div>
    </div>
</div>

{% endblock %}