{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <title>TellYouStory</title>
</head>
<body>
    <header>
        <div class="container text-bg-dark p-3">
            <div class="row text-bg-dark p-3">
                <div class = "col12 text-bg-dark p-3">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid ">
                          <a class="navbar-brand" href="#">TellYouStory</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse " id="navbarNav">
                            <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Главная</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Напишите нам</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Админ</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Моя сртаница</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Рассказать историю</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Читать</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href='#'>Настройки</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link active" href="#">Выход</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>

                </div>
            </div>
        </div>

    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class =col12>
                  <p style="text-align: center;">@2023</p>
                </div>
                <div class="col2">
              </div>
            </div>
        </div>

    </footer>
    <script type="text/javascript" src="{% static  'bootstrap.bundle.min.js'%}"></script>  
</body>
</html>