{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class ="container">
    <div class="row">
        <div class ="col">
            <h1 style="text-align: center;">Мои истории</h1>
            {% for article in article %}
            <p style="text-align: right;"><button type="button" class="btn btn-info btn-sm"><a href="{% url 'my_stories' %}" style="color:white; text-decoration: none;">Назад к моему списку</a></button></p>
                <h4 style="text-align: center;">{{article.title}}</h4>
                <br>
                <h6 style="text-align: left;">Тема: {{article.topic}}</h6>
                <br>
                <h6 style="text-align: left;">Автор: {{article.author.username}}</h6>
                <p>Нравится: {{article.like_counter}} Не нравится: {{article.dislike_counter}} Комментарии: {{article.comment_counter}} Просмотры: {{article.comment_counter}}</p>
                {% if article.image %}
                <p style="text-align:center"><img src="{{ article.image.url }}" class="img-fluid" alt="Фото" style="height: 200px;width: 300px;"></p>
                {% else %}
                <p style="text-align:center"><img src="{% static 'img\fon.jpg' %}" class="img-fluid" alt="Аватар" style="height: 200;width: 300;"></p>
                {% endif %}
                {% if article.content %}
                <p style="text-align:center">{{article.content}}</p>
                {% else %}
                {% endif %}
                <p style="text-align:center">{{article.date_create}}</p>
                <br>
                {% endfor %}
                <form >
                    <button type="submit" class="btn btn-danger" name="del_article">Удалить историю</button>
                </form>
          
        </div>
    </div>
</div>
{% endblock %}