{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class ="container">
    <div class="row">
        <div class ="col">
            <h1 style="text-align: center;">Мои истории</h1>
                <h2 style="text-align: center;">{{article.title}}</h2>
                <br>
                <h6 style="text-align: left;">Тема: {{article.topic}}</h6>
                <br>
                <h6 style="text-align: left;">Автор: {{article.author.username}}</h6>
                <p>Нравится: {{article.like_counter}} Не нравится: {{article.dislike_counter}} Комментарии: {{article.comment_counter}} Просмотры: {{article.views_counter}}</p>
                {% if article.image %}
                <p style="text-align:center"><img src="{{ article.image.url }}" class="img-fluid" alt="Фото" style="height: 200px;width: 300px;"></p>
                {% else %}
                <p style="text-align:center"><img src="{% static 'img\fon.jpg' %}" class="img-fluid" alt="Аватар" style="height: 200;width: 300;"></p>
                {% endif %}
                {% if article.content %}
                <p style="text-align:center">{{article.content}}</p>
                {% else %}
                {% endif %}
                <p style="text-align:center">{{article.date_create}}</p>
                <br>
                <form method="post", action="{% url 'like_article' article_id=article.id %}" style="margin: 20px, 20px, 20px, 20px; display: inline; margin-left: 330; margin-right: 10;">
                    {% csrf_token %}
         
                <button type="submit"class="btn btn-success btn-sm",name="del_story" value="Удалить историю">Нравится<a href = "#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"></a></button>
            </form>


            <form method="post",  action="{% url 'dislike_article' article_id=article.id %}"style="margin: 20px, 20px, 20px, 20px; display: inline; margin-right: 10;">
                {% csrf_token %}
     
            <button type="submit"class="btn btn-warning btn-sm",name="del_story" value="#">Не нравится<a href = "#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"></a></button>
        </form>

        <form method="get" action="{% url 'comment_page' article_id=article.id %}"style="margin: 20px, 20px, 20px, 20px; display: inline; margin-right: 10;">
            {% csrf_token %}
 
        <button type="submit"class="btn btn-info btn-sm",name="#" value="#">Комментировать<a href = "#" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"></a></button>
    </form>


    <form  method="get" action="{% url 'report_page' article_id=article.id %}"    style="margin: 20px, 20px, 20px, 20px; display: inline; margin-right: 10;">
       

    <button type="submit"class="btn btn-danger btn-sm",name="del_story" value="#">Пожаловаться<a href = "{% url 'report_page' article_id=article.id %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"></a></button>
    
</form>
<br>
<br>
<h4 style="text-align: center;">Комментарии</h4>


    
        
            
            
            
            
                
        </div>
    </div>
</div>
{% endblock %}