{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class = "row">
        <div class="col">
            <br>
            <h2 style="text-align: center;">Изменить адрес электронной почты</h2>
            <p style="text-align: right;"><button type="button" class="btn btn-dark"><a href="{% url 'private_settings_page' %}" style="color: white;text-decoration: none;">Настройки профиля</a></button></p>
            <form action="{% url 'change_mail' %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                  <input type="email" class="form-control"  aria-describedby="emailHelp" name="old_mail">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Новый адрес электронной почты</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp" name="new_mail">
                </div>
                <button type="submit" class="btn btn-primary">Применить</button>
              </form>
        </div>
        <h2 style="text-align: center;">Изменить пароль</h2>
        <div class="col">
            <form>
              {% csrf_token %}
              {{ form.as_p }}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Пароль</label>
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Новый пароль</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Подтвердить новый пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                
                <button type="submit" class="btn btn-primary">Применить</button>
              </form>
        </div>
        <br>
            <h2 style="text-align: center;">Деактивировать мой аккаунт</h2>
            <br>
        <div class="col">
            <p style="text-align: center;"><button type="button" class="btn btn-danger"><a href="{% url 'deactivate_page' %}" style="color: white;text-decoration: none;">Деактивировать аккаунт</a></button></p>
        </div>
    </div>
</div>

{% endblock %}